@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter&family=Poppins:wght@300;400&display=swap");

:root {
  --headerBackground: #0d0d0d;
  --artBorder: #bdbdbd;
  font-size: 14px;
}

* {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.metamask-wallet-button {
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  padding: 5px;
  align-self: center;
}

/* homepage style */

.home--hero {
  background-image: url("./images/compressed/A Sentimental Cyborg.png");
  background-color: rgb(19, 19, 19);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background-blend-mode: overlay;
  margin-top: 60px;
  /* margin-bottom: 50px; */
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.hero--copy {
  width: 100%;
  padding: 20px;
}

.home--hero h1,
.home--hero p {
  color: white;
  text-align: center;
}

.home--hero h1 {
  font-size: 3.5rem !important;
  margin: 0px !important;
}

.home--section {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  padding: 20px;
  margin: 200px 0;
}

.golden--ticket--section {
  margin: 0px;
  padding: 20px;
  background-color: black;
  color: white;
  padding-bottom: 100px;
}

.golden--ticket--container {
  margin-bottom: 50px;
}

.sendfox--container {
  margin-top: 20px;
  display: grid;
  /* padding: 50px; */
  /* justify-content: center; */
}

.sendfox--form {
  display: grid;
  grid-gap: 5px;
}

button {
  -webkit-appearance: none !important;
  -webkit-border-radius: 0;
}

.sendfox--container p input,
.sendfox--container button {
  padding: 15px;
  width: 100%;
  border-radius: 0px;
  margin-bottom: 5px;
}
/* home page, hero section media query begins*/
@media screen and (min-width: 600px) {
  .sendfox--form {
    width: 100%;
  }

  .hero--copy {
    width: 100%;
    padding: 100px;
    text-align: center;
  }

  .golden--ticket--section {
    color: white;
    z-index: 1;
    /* margin: 0px -100px; */
    /* padding: 100px; */
  }

  .golden-ticket-words {
    grid-column: 1;
    grid-row: 1;
    padding: 50px 100px;
    align-self: center;
    color: white;
  }
}

@media screen and (min-width: 900px) {
  .hero--copy {
    width: 50%;
  }

  .home--section {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 20px;
    /* align-items: center; */
    /* margin: 200px; */
    /* width: 60%; */
    text-align: center;
  }

  .home--section div {
    justify-self: center;
    width: 50%;
  }

  .golden--ticket--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.home--section > h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.home--about-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.App-header {
  background-color: var(--headerBackground);
  height: 60px;
  font-size: 1rem;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* text-align: center; */
}

.App-header .header-nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 70%;
  box-sizing: border-box;
}

.nav-menu {
  justify-self: center;
}

.app-logo {
  width: 60px;
  max-width: 100%;
  /* height: 100%; */
}

nav a {
  margin-right: 20px;
  color: var(--artBorder);
  text-decoration: none;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

nav a:hover,
a:hover::after {
  transform: scaleX(1);
  color: white;
}

.nav-btn {
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  display: none;
  font-size: 24px;
  align-self: center;
  padding-top: 10px;
  cursor: pointer;
}

.nav-mobile-menu {
  display: none;
}

.nav-newsletter {
  display: none;
}

/* 
mobile menu styling 
...Beginning*/

@media screen and (max-width: 900px) {
  .App-header .header-nav {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
  }

  .remove-header-padding {
    padding: 0;
  }

  header .nav-btn {
    display: block;
  }

  header .nav-menu {
    display: none;
  }

  header .nav-mobile-container {
    visibility: visible;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--headerBackground);
    transition: 0.5s;
    transform: translateX(100vw);
  }

  header .nav-mobile-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
    /* padding: 20px; */
    box-sizing: border-box;
  }

  /* header .nav-mobile-menu  */
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header .responsive_nav {
    transform: none;
  }

  .mobile-nav {
    display: grid;
    grid-gap: 50px;
    font-size: 2rem;
    font-weight: 900;
    padding: 20px;
    margin-bottom: 50px;
  }

  /* .nav-close-btn {
    justify-self: right;
    padding-right: 20px;
  } */

  .nav-mobile-menu div {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 20px;
    margin-bottom: 50px;
    /* position: fixed; */
  }

  header a {
    margin: 0;
    height: 100%;
  }

  .nav-newsletter {
    display: block;
    padding: 20px;
  }

  .nav-newsletter div {
    margin-bottom: 50px;
  }
}

/* 
mobile menu styling 
...End*/

/* art product card */

.gallery-container {
  display: grid;
  padding: 20px;
  place-items: center center;
}

.gallery {
  display: grid;
  grid-gap: 20px;
}
.gallery-header {
  text-align: center;
  padding: 20px;
  padding-top: 100px;
}

.gallery-header h1 {
  margin-bottom: 50px;
  font-family: "DM Serif Text", serif;
  font-size: 2rem;
}

.gallery-header p {
  margin-bottom: 20px;
}

.art {
  text-align: center;
}

.art:hover {
  box-shadow: 5px 10px 6px var(--artBorder);
}

.art-image-container {
  overflow: hidden;
}

.art-image,
.art-video {
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
}

.art-image:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.art-details {
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border: 1px solid var(--artBorder);
}

.art-details .art-title {
  grid-column: 1/-1;
  font-weight: 400;
  border-bottom: 1px solid var(--artBorder);
}

.art-title {
  padding: 50px 0;
}

.art-artist-details {
  border-right: 1px solid var(--artBorder);
}

.art-title h2 {
  font-size: 1.5rem;
}

.art-tag {
  margin-top: 50px;
  margin-bottom: 1px;
  font-size: 0.8rem;
  color: rgb(114, 114, 114);
}

.art-style {
  margin-top: 10px;
}

.price {
  margin-bottom: 30px;
}
.artist-name,
.art-price {
  font-weight: 600;
}

/*  tablets and wide screens*/
@media screen and (min-width: 600px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-header {
    padding: 100px;
    padding-bottom: 0;
    /* margin-top: 200px; */
  }

  .gallery-header h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1050px) {
  .gallery-container {
    padding: 100px;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-header {
    display: grid;
    justify-items: center;
  }

  .gallery-header div {
    width: 70%;
  }
}

/* Footer styling */
.website-footer {
  box-sizing: border-box;
  background-color: var(--headerBackground);
  color: white;
  padding: 50px 20px;
}

footer p,
ul > li {
  color: var(--artBorder);
}

footer p {
  width: 60%;
}

footer div {
  margin-bottom: 50px;
}

.footer--company-intro h1,
h2 {
  margin-bottom: 10px;
}

.footer--company-intro h1 {
  margin-top: 0;
  letter-spacing: 10px;
}

.footer--services ul {
  list-style: none;
  padding-left: 10px;
  line-height: 28px;
}

.footer--newsletter-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.footer--newsletter-form {
  margin-top: 20px;
}

.footer--newsletter-form input {
  background-color: var(--headerBackground);
  color: white;

  border: 1px solid white;
}

.footer--newsletter-form input,
.footer--newsletter-form .subscription-button {
  padding: 10px;
  border-radius: 0px;
}

.footer--social-media ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  justify-content: flex-start;
}

.footer--social-media ul > li a {
  padding-right: 20px;
  color: var(--artBorder);
  font-size: 20px;
}

.footer--social-media ul > li a:hover {
  color: white !important;
}

/* footer media query */
@media screen and (min-width: 600px) {
  .footer--newsletter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
@media screen and (min-width: 1050px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

/* subsccription page styling */
.subscription--page {
  display: flex;
  margin-top: 60px;
  background-color: white;
  color: black;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.subscription--page a {
  color: red;
}
